:root {
    --blue: #25e;
    --light-blue: #3ce;
    --light-gray: #ddd;
    --gray: #999;
    --dark-gray: #333;
    --bg-color: #222;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--bg-color);
    color: white;
    font-family: Arial;
}

header {
    display: flex;
    padding: 1rem;
    justify-content: flex-end;
    background-color: var(--dark-gray);

    a {
        color: white;
        text-decoration: none;
    }

    a:hover {
        color: var(--light-blue);
    }
}

ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style-type: none;
}

.hire-me {
    padding: 0.5rem;
    background-color: var(--blue);
    color: white;
    border: none;
    border-radius: 0.2rem;
    font-size: 1em;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

    width: 100%;
    padding: 15rem 0;
}

#presentation {
    .hi {
        font-size: 1rem;
        margin: 0 0 -0.2em 0.3em;
    }

    .name {
        font-size: 4rem;
    }

    .skill {
        font-size: 1.8em;
        color: #999;
    }
}

#skills-section {
    background-color: white;
    background-color: var(--light-gray);
    color: black;
}

.skill-list {
    img {
        width:  100px;
        height: 100px;
        border-radius: 10%;
    }
    
    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5em;
    }
}

#social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
}

#social-media-list {
    display: flex;
    gap: 0.5rem;

    .box, img {
        width:  50px;
        height: 50px;
    }
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--light-gray);
    color: black;
    border-top: black solid 1px;
}

